<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/bulma.css') }}">
    <style>
        .box{
            width: 500px;
        }
    </style>
</head>
<body>
    <center>
        <div style="width: 500px;" class="container"></div>

        <h1 class="title has-text-primary is-size-10 is-family-primary" >LOGIN</h1>
        <form class ="box has-background-danger-light">
        
        
        <div class="field">
        <label class="has-text-danger">Username :</label> 
        <div class=" control"> 
        <input class="input" type="email" placeholder="" />
        
        </div>
        
        </div>
        
        <div class="field">
        
        <label1 class="has-text-danger">Password: </label>
        
        <div class="control">
        
        <input class="input" type= "password" placeholder="" />
        
        </div>
        
        </div>

        <button class="button  has-text-primary-has-background-danger-dark" >LOGIN</button>
        </form>
        </center>
</body>
</html>